.graphContainer_root { 
    position: relative;
}
.graphContainer_root .graphContainer {
    border: 1px solid #f6f6f6;
}

.graphContainer_root .graphContainer .edgePath .dropHere,
.graphContainer_root .graphContainer .edgePath .noDrop {
    display: none;
    pointer-events: none;
}

.graphContainer_root .graphContainer .edgePath.dropHover .dropHere {
    display: flex;
}

.graphContainer_root .graphContainer .edgePath.noDropHover .noDrop {
    display: flex;
}

.graphContainer_root .graphContainer text {
    cursor: pointer;
}

.graphContainer_root .edgePath path.path {
    stroke: #969696;
    fill: #ccc;
    stroke-width: 1px;
    pointer-events: visibleStroke;
}

.graphContainer_root .edgePath.hover path.path {
    stroke: #00d9ff;
}

.graphContainer_root .node rect,
.graphContainer_root .node circle,
.graphContainer_root .node ellipse,
.graphContainer_root .node polygon {
    stroke: #d7d7d7;
    fill: #fff;
    stroke-width: 1px;
}

.graphContainer_root tspan {
    user-select: none;
}

.graphContainer_root .node.focused {
    fill: rgb(0, 174, 255);
}

.graphContainer_root .zoomHandlers {
    position: absolute;
    right: 1vw;
    bottom: 30vh;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.graphContainer_root .zoomHandlers .iconWrapper{
    padding: 0.5vw;
    border: 1px solid #eeeeee;
    border-radius: 0.25em;
    background-color: #f7f7f7;
    cursor: pointer;
    user-select: none;
}