<template tag-name="draggables-panel">
    <lyte-accordion lt-prop-height="10px" >
        <template is="registerYield" yield-name="yield">
            <lyte-accordion-item class="lyteAccordionActive">
                <lyte-accordion-header>Flow States<lyte-icon class="lyteAccordionArrow"></lyte-icon>
                </lyte-accordion-header>
                <lyte-accordion-body style="width: 100%;">
                    <div class="item" id='condition' tabindex="0">
                        Condition
                    </div>
                    <div class="item" id='switch' tabindex="0">
                        Switch
                    </div>
                    <div class="item" id='actions' tabindex="0">
                        Actions
                    </div>
                    <div class="item" id='parallel' tabindex="0">
                        Parallel
                    </div>
                    <div class="item" id='node' tabindex="0">
                        Node
                    </div>
                    <div class="item" id='success'tabindex="0">
                        Success
                    </div>
                    <div class="item" id='failure' tabindex="0">
                        Failure
                    </div>
                </lyte-accordion-body>
            </lyte-accordion-item>
        </template>
    </lyte-accordion>
</template>