<template tag-name="graph-config-editor" id="rightPanel_root">
    <lyte-event-listener event-name="activeNodeChange{{graphId}}" on-fire="{{action('activeNodeChange')}}">
    </lyte-event-listener>
    <lyte-button-group lt-prop-type="radiobutton" style="width: fit-content;" lt-prop-selected="form"
        on-changed="{{method('editModeChange')}}">
        <template is="registerYield" yield-name="yield">
            <lyte-button lt-prop-value="form">
                <template is="registerYield" yield-name="text">
                    <span class="material-symbols-outlined">
                        lan
                    </span>
                </template>
            </lyte-button>
            <lyte-button lt-prop-value="code">
                <template is="registerYield" yield-name="text">
                    <span class="material-symbols-outlined">
                        code
                    </span>
                </template>
            </lyte-button>
        </template>
    </lyte-button-group>
    <div id="content">
        <div id="form" lyte-if="{{showEditingForm}}">
            <table cellpadding="0" cellspacing="10" class="w100per modalTable">
                <tbody>
                    <tr>
                        <td class="pB10 pR30 alignRight"> Name </td>
                        <td class="pB10 mymodalinput">
                            <lyte-input lt-prop-type="text" lt-prop-placeholder="" lt-prop-appearance="box"
                                lt-prop-value="{{lbind(editorData.name)}}" id="name"
                                 onclick="{{action('editDetails')}}"> 
                            </lyte-input>
                        </td>
                    </tr>
                    <tr>
                        <td class="pB10 pR30 alignRight"> Type </td>
                        <td class="pB10 mymodalinput">
                            <lyte-dropdown id='type' lt-prop-placeholder="select a value"
                                lt-prop-selected="{{editorData.type}}" 
                                onclick="{{action('editDetails')}}" lt-prop-options="{{nodeTypes}}" lt-prop-user-value="value" lt-prop-system-value="key" >
                            </lyte-dropdown>
                        </td>
                    </tr>
                    <tr  lyte-if="{{editorData.name}}">
                        <td class="pB10 pR30 alignRight"> Next</td>
                        <td class="pB10 mymodalinput">
                            <lyte-dropdown 
                                lt-prop-options='{{editorData.next}}'
                                lt-prop-selected='{{editorData.selectedNext}}' 
                                on-change="{{method('updateSelection')}}" 
                                onclick="{{action('editDetails')}}">  
                            </lyte-dropdown >
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="buttons">    
                <lyte-button id="discard" lyte-if="{{onEditState}}" onclick="{{action('discardChanges')}}">
                    <template is="registerYield" yield-name="text">
                        Discard
                    </template>
                </lyte-button>
                <lyte-button id="save"lt-prop-appearance="primary" lyte-if="{{onEditState}}" onclick="{{action('saveChanges')}}">
                    <template is="registerYield" yield-name="text">
                        Update
                    </template>
                </lyte-button>
            </div>
        </div>
        <div id="code" lyte-if="{{!showEditingForm}}">
            <lyte-input id='codeInput' lt-prop-type='textarea' lt-prop-width="100%"
                lt-prop-value="{{graphData}}" style="height: 30vw;"></lyte-input>
            <lyte-button lt-prop-appearance="primary" onclick="{{action('render')}}">
                <template is="registerYield" yield-name="text">
                    Update
                </template>
            </lyte-button>
        </div>
    </div>

</template>