<template tag-name="graph-canvas" class="graphContainer_root">
    <div class="graphContainer" id="{{graphData.id}}">
        <svg width="1000" height="700"></svg>
    </div>
    <div class="zoomHandlers">
        <div class="iconWrapper" id="zoomIn">
            <span class="material-symbols-outlined">
                zoom_in
            </span>
        </div>
        <div class="iconWrapper" id="zoomOut">
            <span class="material-symbols-outlined">
                zoom_out
            </span>
        </div>
        <div class="iconWrapper" id="reCenter">
            <span class="material-symbols-outlined">
                recenter
            </span>
        </div>
    </div>
</template>